<!DOCTYPE html>
<html>
<head>
  <title>Cursos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">JogoSnake</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/majors">Cursos</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1>Cursos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Sigla</th>
          <th>Nome</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {{#each majors}}
        <tr>
          <td>{{this.code}}</td>
          <td>{{this.name}}</td>
          <td>
            <a href="/majors/{{this.id}}" class="btn btn-info btn-sm">Ver</a>
            <a href="/majors/{{this.id}}/edit" class="btn btn-warning btn-sm">Editar</a>
            <form action="/majors/{{this.id}}/delete" method="post" style="display:inline;">
              <button type="submit" class="btn btn-danger btn-sm">Remover</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Criar Cursos</h2>
    <form action="/majors/create" method="post">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="code">Sigla:</label>
        <input type="text" class="form-control" id="code" name="code">
      </div>
      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Criar</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
